<form
  novalidate
  autocomplete="off"
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
>
  <div class="mb-8">
    <div class="mb-4 flex justify-center">
      <img
        class="profileImage object-cover rounded-full"
        alt="Profile Image"
        appDefaultImage="assets/images/defaults/default-profile.jpg"
        [src]="
          profileImagePreview ||
            (user.profileImage ? (user.profileImage | image) : '') | safeUrl
        "
      />
    </div>
    <app-form-input-file
      formControlName="profileImage"
      [multiple]="false"
      [control]="profileForm.get('profileImage')"
    ></app-form-input-file>
  </div>
  <div class="flex flex-col space-y-4">
    <app-form-input
      id="firstName"
      placeholder="First Name"
      label="First Name"
      formControlName="firstName"
      [control]="profileForm.get('firstName')"
    ></app-form-input>
    <app-form-input
      id="lastName"
      placeholder="Last Name"
      label="Last Name"
      formControlName="lastName"
      [control]="profileForm.get('lastName')"
    ></app-form-input>
  </div>
  <app-button class="block w-full mt-6">Update Profile</app-button>
</form>
