<ng-container *ngIf="recipe$ | async as recipe">
  <app-loader [isLoading]="isLoading">
    <app-alert [message]="message$ | async"></app-alert>
    <app-recipe-form
      [recipe]="recipe"
      (formSubmit)="onFormSubmit(recipe._id, $event)"
      (delete)="this.isGoingToDelete = true"
    ></app-recipe-form>
  </app-loader>

  <app-modal *ngIf="isGoingToDelete">
    <app-confirm-delete
      subject="recipe"
      (cancel)="isGoingToDelete = false"
      (delete)="onDelete(recipe._id)"
    ></app-confirm-delete>
  </app-modal>
</ng-container>
