<div
  class="relative h-full"
  appOutsideClick
  (outsideClick)="closeDropdownMenu()"
>
  <button class="focus:outline-none" (click)="toggleDropdownMenu()">
    <img
      class="profileImage object-cover rounded-full"
      alt="Profile Image"
      appDefaultImage="assets/images/defaults/default-profile.jpg"
      [src]="profileImg"
    />
  </button>
  <ul class="dropdown mt-12" *ngIf="isDropdownMenuOpen">
    <li class="w-full" *ngIf="userName">
      <div class="p-5">
        <span class="font-bold">{{ userName }}</span>
      </div>
    </li>
    <li>
      <a (click)="closeDropdownMenu()" routerLink="/settings">Settings</a>
    </li>
    <li>
      <a class="cursor-pointer" (click)="closeDropdownMenu(); logOut.emit()"
        >Log Out</a
      >
    </li>
  </ul>
</div>
