<app-loader [isLoading]="isLoading" *ngIf="recipe">
  <app-card
    [title]="recipe.title"
    [subtitle]="(recipe.createdAt | date) || ''"
    [description]="recipe.description"
    [imgSrc]="recipe.coverImage | image"
    [link]="'/recipes/' + recipe._id"
    (edit)="onEdit()"
    (delete)="isGoingToDelete = true"
  ></app-card>

  <app-modal *ngIf="isGoingToDelete">
    <app-confirm-delete
      subject="recipe"
      (cancel)="isGoingToDelete = false"
      (delete)="onDelete()"
    ></app-confirm-delete>
  </app-modal>
</app-loader>
