<div class="relative h-full">
  <div
    *ngIf="isLoading"
    class="
      absolute
      top-0
      left-0
      w-full
      h-full
      bg-white bg-opacity-75
      cursor-default
      z-10
    "
  >
    <div
      class="
        absolute
        top-1/2
        left-1/2
        transform
        -translate-x-1/2 -translate-y-1/2
        m-0
        z-20
      "
    >
      <img alt="Loading..." [src]="imgSrc" [width]="size" [height]="size" />
    </div>
  </div>
  <ng-content></ng-content>
</div>
