<div>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  <div class="container mx-auto">
    <form [formGroup]="form">
      <div class="flex">
        <div class="w-1/4">
          <div class="mb-5">
            <app-form-input
              type="text"
              placeholder="Email"
              label="Email"
              formControlName="email"
              [control]="form.get('email')"
            ></app-form-input>
          </div>
          <app-form-input
            type="password"
            placeholder="Password"
            label="Password"
            formControlName="password"
            [control]="form.get('password')"
          ></app-form-input>
          <div class="mt-8"></div>
        </div>
      </div>
    </form>
  </div>
</div>
