<form
  novalidate
  autocomplete="off"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <div class="flex flex-col space-y-4">
    <app-form-input
      id="emailOrUserName"
      placeholder="Email / Username"
      label="Email / Username"
      formControlName="emailOrUserName"
      [control]="loginForm.get('emailOrUserName')"
    ></app-form-input>
    <app-form-input
      type="password"
      id="password"
      placeholder="Password"
      label="Password"
      formControlName="password"
      [control]="loginForm.get('password')"
    ></app-form-input>
    <a class="link" routerLink="/auth/forgot-password">Forgot Password?</a>
  </div>
  <app-button class="block w-full mt-6">Log In</app-button>
  <p class="text-center mt-8">
    Don't have an account?
    <a class="link" routerLink="/auth/sign-up">Sign Up</a>
  </p>
  <p class="text-center mt-4">
    Didn't get an email verification?
    <a class="link" routerLink="/auth/resend-verification"
      >Resend Verification</a
    >
  </p>
</form>
