<ng-container>
  <div>
    <label
      class="
        flex flex-col
        items-center
        px-5
        py-3
        border border-transparent
        rounded-md
        bg-gray-300
        hover:bg-gray-400
        text-lg
        cursor-pointer
        focus:outline-none
      "
    >
      <span class="flex flex-row items-center"
        ><span class="material-icons mr-3">file_upload</span>{{ label }}</span
      >
      <input
        type="file"
        class="hidden"
        [multiple]="multiple"
        (change)="onFileChange($event)"
      />
    </label>
  </div>
  <app-form-input-error [control]="control"></app-form-input-error>
</ng-container>
