<ng-container>
  <div>
    <label
      class="
        flex flex-col
        items-center
        px-4
        py-3
        text-lg
        bg-gray-300
        hover:bg-gray-400
        rounded-md
        focus:outline-none
        cursor-pointer
      "
    >
      <span class="flex flex-row"
        ><span class="mr-3 material-icons">file_upload</span>{{ label }}</span
      >
      <input
        type="file"
        class="hidden"
        [multiple]="multiple"
        (change)="onFileChange($event)"
      />
    </label>
  </div>
  <app-form-input-error [control]="control"></app-form-input-error>
</ng-container>
