<div class="flex flex-row sm:flex-col w-full h-full rounded-md shadow">
  <div class="relative w-4/12 sm:w-full rounded-md">
    <img
      class="
        w-full
        h-full
        sm:h-48
        lg:h-64
        rounded-t-md
        object-cover
        cursor-pointer
      "
      [src]="imgSrc"
      [alt]="title + ' - Cover Image'"
      [routerLink]="link"
    />
    <div class="absolute top-0 left-0 sm:left-auto sm:right-0 m-2 sm:m-4">
      <app-more-dropdown
        (edit)="edit.emit()"
        (delete)="delete.emit()"
      ></app-more-dropdown>
    </div>
  </div>
  <div class="w-8/12 sm:w-full p-5 cursor-pointer" [routerLink]="link">
    <h3 class="mb-2 text-2xl font-bold line-clamp-2">{{ title }}</h3>
    <span class="block mb-4 text-gray-500" *ngIf="subtitle">{{
      subtitle
    }}</span>
    <p class="text-base text-gray-700 line-clamp-2" *ngIf="description">
      {{ description }}
    </p>
  </div>
</div>
